<template>
  <div id="playlist" class="m-0 p-0">
    <div class="row p-0 m-0">
      <div class="col-md-3">
        <img src="../../public/images/img-spotiplon.png" class="col-md-12 pt-3 pl-3 img-femme" alt>
        <img src="../../public/images/spotiplon.png" alt class="col-md-12 ml-4 spotiplon-sous">
      </div>
      <ul class="col-md-8 mt-5">
        <a class="linksPlaylist" href="#">
          <li v-for="(item, index) in playlist" v-bind:key="index" class="my-3 pl-3">{{item}}</li>
        </a>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    playlist: Array
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
#playlist {
  background-image: url("../../public/images/spotiplon-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: white;

  .img-femme {
    margin: 15px;
    height: 250px;
  }

  ul {
    list-style: none;
    padding: 0px;
    margin: 0px;

    .linksPlaylist {
      color: white;
      text-decoration: none;

      li {
        // display: inline-block;
        margin: 0;
        padding: 0;
        height: 50px;
        align-items: center;
        padding-top: 13px;
        transition-duration: 0.3s;
      }

      li:hover {
        background-color: rgba(0, 0, 0, 0.5);
        transition-duration: 0.3s;
      }
    }
  }

  .spotiplon-sous {
    margin-left: 15.5px !important;
    // height: 100%;
  }
}
</style>
