<template>
  <div id="app">
    <Sidebar-vue class="col-2 p-0 m-0"></Sidebar-vue>
    <div class="row p-0 m-0">
      <SidebarNone-vue class="col-2"></SidebarNone-vue>
      <Playlist-vue class="col-10 p-0 m-0" :playlist="playlist"></Playlist-vue>
    </div>
    <Player-vue class="col-12 p-0 m-0"></Player-vue>
  </div>
</template>

<script>
import PlaylistVue from "./components/Playlist.vue";
import SidebarVue from "./components/Sidebar.vue";
import PlayerVue from "./components/Player.vue";
import SidebarNoneVue from "./components/SidebarNone.vue";


export default {
  name: "app",
  components: {
    SidebarVue,
    PlaylistVue,
    PlayerVue,
    SidebarNoneVue
  },
  data() {
    return {
      playlist: [
        "Musique 1",
        "Musique 2",
        "Musique 3",
        "Musique 4",
        "Musique 5",
        "Musique 6",
        "Musique 7",
        "Musique 8",
        "Musique 9"
      ]
    };
  }
};
</script>

<style lang="scss">
</style>
